{% extends "base.html" %}

{% block title %} Matches {% endblock %}

{% block content %}

  <h1> Matches </h1>
  <hr>

  <h1> {{ minAge }} </h1>
  <h1> {{ maxAge }} </h1>
  <h1> {{ state }} </h1>
  <h1> {{ city }} </h1>
  <h1> {{ pName }} </h1>
  <h1> {{ pField }} </h1>
  <h1> {{ eLevel }} </h1>
  <h1> {{ eMajor }} </h1>

  <div class="row">
  {% for person in people %}
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"> {{person[1] + " " + person[2]}} </div>
        <div class = "card-body"> 
          <ul>
            <li> Age: {{person[3]}} </li>
          <ul>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>

{% endblock %}
