{% extends "base.html" %}

{% block content %}

  <h1>Set Your Preferences!</h1>
  <hr>
  <div class="card">
    <form method="POST" action="{{ url_for('preferences') }}">
      <fieldset class='form-field col'>
        {{ form.minAge.label }} 
        <br/>
        {{ form.minAge }}
      </fieldset>
      <br/>
      <fieldset class='form-field col'>
        {{ form.maxAge.label }}
        <br/>
        {{ form.maxAge }}
      </fieldset>
      <br/>
      <fieldset class='form-field col'>
        {{ form.state.label }}
        <br/>
        {{ form.state }}
      </fieldset>
      <br/>
      <fieldset class='form-field col'>
        {{ form.city.label }}
        <br/>
        {{ form.city }}
      </fieldset>
      <br/>
      <fieldset class='form-field col'>
        {{ form.pName.label }}
        <br/>
        {{ form.pName }}
      </fieldset>
      <br/>
      <fieldset class='form-field col'>
        {{ form.pField.label }}
        <br/>
        {{ form.pField }}
      </fieldset>
      <br/>
      <fieldset class='form-field col'>
        {{ form.eLevel.label }}
        <br/>
        {{ form.eLevel }}
      </fieldset>
      <br/>
      <fieldset class='form-field col'>
        {{ form.eMajor.label }}
        <br/>
        {{ form.eMajor }}
      </fieldset>
      <br/>
      <div class="col"> 
      {{ form.submit(class="btn btn-success")}}
      </div>

    </form>
  </div>

{% endblock %}
