{% extends "base.html" %}

{% block content %}

  <h1>Set Your Preferences!</h1>
  <hr>
  <form method="POST" action="{{ url_for('preferences') }}">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Age</div>
          <br/>
          <div class="card-body">
            {{ form.minAge.label }} 
            <br/>
            {{ form.minAge }}
            <br/>
            {{ form.maxAge.label }}
            <br/>
            {{ form.maxAge }}
          </div>
          <br/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Hobby</div>
          <br/>
          <div class="card-body">
            {{ form.hName.label }}
            <br/>
            {{ form.hName }}
            <br/>
            {{ form.hKind.label }}
            <br/>
            {{ form.hKind }}
            <br/>
            {{ form.hSetting.label }}
            <br/>
            {{ form.hSetting }}
          </div>
          <br/>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Profession</div>
          <br/>
          <div class="card-body">
            {{ form.pName.label }}
            <br/>
            {{ form.pName }}
            <br/>
            {{ form.pCompany.label }}
            <br/>
            {{ form.pCompany }}
            <br>
            {{ form.pField.label }}
            <br/>
            {{ form.pField }}
          </div>
          <br/>
        </div>
      </div> 
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Education</div>
          <br/>
          <div class="card-body">
            {{ form.eName.label }}
            <br/>
            {{ form.eName }}
            <br/>
            {{ form.eType.label }}
            <br/>
            {{ form.eType }}
            <br/>
            {{ form.eMajor.label }}
            <br/>
            {{ form.eMajor }}
            <br/>
            {{ form.eDegree.label }}
            <br/>
            {{ form.eDegree }}
          </div>
          <br/>
        </div>
      </div> 
    </div>
    <br/>
    {{ form.submit(class="btn btn-success")}}
    <br/>
  </form>

{% endblock %}
